<div>
    <h1>Home</h1>
    <ul>
        <li>
            <component ref="card" @picture="picture.png" @title="Kort #1" @description="Info" @ball-size="100" style="display: none"></component>
        </li>
        <li>
            <component ref="card" @picture="picture.png" @title="Kort #2" @description="Info" @ball-size="50"></component>
        </li>
        <li>
            <component ref="card" @picture="picture.png" @title="Kort #3" @description="Info" @ball-size="25">
                <h1>Hej</h1>
            </component>
        </li>
    </ul>
</div>